USE [master]
GO
/****** Object:  Database [HomeWork]    Script Date: 8/28/2022 8:21:38 AM ******/
CREATE DATABASE [HomeWork]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HomeWork', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HomeWork.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HomeWork_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HomeWork_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HomeWork].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HomeWork]
GO
/****** Object:  Table [dbo].[tblItem]    Script Date: 8/28/2022 8:21:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblItem](
	[intItemId] [bigint] IDENTITY(1,1) NOT NULL,
	[strItemName] [nvarchar](250) NOT NULL,
	[numStockQuantity] [decimal](18, 2) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_tblItem] PRIMARY KEY CLUSTERED 
(
	[intItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPartner]    Script Date: 8/28/2022 8:21:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPartner](
	[intPartnerId] [bigint] IDENTITY(1,1) NOT NULL,
	[strPartnerName] [nvarchar](250) NOT NULL,
	[intPartnerTypeId] [bigint] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_tblPartner] PRIMARY KEY CLUSTERED 
(
	[intPartnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPartnerType]    Script Date: 8/28/2022 8:21:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPartnerType](
	[intPartnerTypeId] [bigint] IDENTITY(1,1) NOT NULL,
	[strPartnerTypeName] [nvarchar](250) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_tblPartnerType] PRIMARY KEY CLUSTERED 
(
	[intPartnerTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPurchase]    Script Date: 8/28/2022 8:21:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPurchase](
	[intPurchaseId] [bigint] IDENTITY(1,1) NOT NULL,
	[intSupplierId] [bigint] NOT NULL,
	[dtePurchaseDate] [datetime] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_tblPurchase] PRIMARY KEY CLUSTERED 
(
	[intPurchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPurchaseDetails]    Script Date: 8/28/2022 8:21:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPurchaseDetails](
	[intPurchaseDetailsId] [bigint] IDENTITY(1,1) NOT NULL,
	[intPurchaseId] [bigint] NOT NULL,
	[intItemId] [bigint] NOT NULL,
	[numQuantity] [decimal](18, 2) NOT NULL,
	[numUnitPrice] [decimal](18, 2) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_tblPurchaseDetails] PRIMARY KEY CLUSTERED 
(
	[intPurchaseDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSales]    Script Date: 8/28/2022 8:21:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSales](
	[intSalesId] [bigint] IDENTITY(1,1) NOT NULL,
	[intCustomerId] [bigint] NOT NULL,
	[dteSalesDate] [datetime] NOT NULL,
	[isActive] [nchar](10) NULL,
 CONSTRAINT [PK_tblSales] PRIMARY KEY CLUSTERED 
(
	[intSalesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSalesDetails]    Script Date: 8/28/2022 8:21:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSalesDetails](
	[intSalesDetailsId] [bigint] IDENTITY(1,1) NOT NULL,
	[intSalesId] [bigint] NOT NULL,
	[intItemId] [bigint] NOT NULL,
	[numQuantity] [decimal](18, 2) NOT NULL,
	[numUnitPrice] [decimal](18, 2) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_tblSalesDetails] PRIMARY KEY CLUSTERED 
(
	[intSalesDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblItem] ON 

INSERT [dbo].[tblItem] ([intItemId], [strItemName], [numStockQuantity], [isActive]) VALUES (1, N'Mojo', CAST(10.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[tblItem] ([intItemId], [strItemName], [numStockQuantity], [isActive]) VALUES (2, N'Laptop', CAST(5.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[tblItem] OFF
GO
USE [master]
GO
